@font-face {
	font-family: Exo;
	src: url(./fonts/Exo2.0-Thin.otf);
}

@font-face {
	font-family: Treb;
	src: url(./fonts/trebuc.ttf);
}

body {
	font-family: Exo;
	background-image: url(./images/background.jpg);
	color: white;
}

.heading {
	font-size: 36px;
	color: #ffffff;
	text-align: center;
	filter: drop-shadow(0px 1px 0.5px #000000);
}
